html,body,#wrapper{
    height: 100%;
    padding: 0;
    margin: 1vh;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
    animation: fadein 1.8s ease-in-out;

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



@keyframes width {
  from { width: 0%; }
  to   { width: 50%; }
}

@keyframes widthP {
  from { width: 0%; }
  to   { width: 100%; }
}


.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left{
    animation: width 1.5s ease-in-out;
    width: 50%;
    max-height: 90%;
    background-color: black;
    z-index: 1;
}

.right{
    animation: width 1.5s ease-in-out;
    width:50%;
    float: left;
    max-height: 90%;
}
.right img{

    height:100%;
    width: 100%; 
    object-fit:cover;
    filter: grayscale(100%);
    z-index: 1;
}
.title{
    z-index: 2;
    position: absolute;
    display: inline-block;
    color: white;
    margin-top: 35vh; 
    border:0.27vh; 
    border-style:solid; 
    border-color:white; 
    padding: 1em;
    font-size: 2vh;
}






.portfolio{
  display: flex;
  animation: widthP 1s ease-in-out;
  width: 100%;
  max-height: 90%;
  background-color: black;
  z-index: 1;
}
.cards{
  top: 12vh;
  left:5vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
.card-container{
  text-align: center;
  width: 40vh;
  height: auto;
  background-color: white;
  color: black;
  border: 1px black;
  border-radius: 3%;
  margin: 2vh;
}
.card-container:hover{
  opacity: 0.7;
}
.card-container img{
  padding: 0.5vh;
  width: auto;
  height: 20vh;
}

.cards a{
  text-decoration: none;
  color: inherit;
}








span{
    font-size: 50px;
    cursor: pointer;
}
.navBar{
    position: absolute;
    z-index: 3;
    right: 5vh;
    color: #f1f1f1;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color:gray;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .fa-github{
    position: absolute;
    top: 87vh;
    padding: 20px;
    color: #f1f1f1;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-twitter{
    position: absolute;
    top: 87vh;
    left:7vh;
    padding: 20px;
    color: #f1f1f1;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-envelope{
    position: absolute;
    top: 87vh;
    left:11.5vh;
    padding: 20px;
    color: #f1f1f1;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }